/* --- Footer Styling --- */
.footer-top {
    background-color: white;
    color: black;
    padding: 3rem 7rem; /* Atur padding di sini */
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
}

.footer-logo img {
    height: 60px;
    margin-bottom: 1rem;
}

.footer-column h4 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer-column p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

.footer-column p.footer-title,
.footer-column p.footer-address {
    color: black;
}

.footer-column a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #88b1d9;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.social-media-column {
    text-align: right;
}

.social-icons img {
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.social-media-column .download-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.social-media-column .download-buttons img {
    height: 40px;
    width: auto;
}

.footer-bottom {
    background-color: #1C3C80;
    text-align: center;
    padding: 1rem 7rem;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
}

@media (max-width: 768px) {
    .footer-top {
        padding: 2rem 1rem;
        text-align: center;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        min-width: 100%;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .social-media-column {
        text-align: center;
    }
    
    .social-media-column .download-buttons {
        align-items: center;
    }

    .footer-bottom {
        padding: 1rem;
    }
}