/* Styling untuk video yang sudah diterjemahkan */
.translated-video {
    max-width: 50%; /* Atur lebar maksimal video */
    height: auto; /* Pertahankan rasio aspek video */
    display: block; /* Menghilangkan spasi ekstra di bawah video */
    margin: 0 auto; /* Pusatkan video secara horizontal */
    border-radius: 8px; /* Sudut membulat */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk efek visual */
}

/* Styling untuk placeholder video */
.video-placeholder {
    max-width: 80%;
    margin: 0 auto;
    height: 400px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
}

.translated-video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.my-2{
    text-align: center;
}